extends _layout.pug

block vars
  - var pageTitle="Écoute"

block content
  block contentAjax
      h1 Écoute
      p Vous pouvez nous écouter en ligne en bas de cette page,
        |  ou en utilisant directement 
        a(href="http://grafhit.net:8000/grafhit.mp3") l'url de notre flux (mp3, 192kbps)
        |  dans votre lecteur favori.
      p Sur la FM, il suffit de régler votre poste sur le 94.9MHz
