@font-face {
  font-family: "Titre";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lerotica-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Contenu";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/FreeUniversal-Regular.ttf") format("truetype");
}

h1, h2, h4, h5 {
  font-family: Titre;
}

h4 {
  font-size: 1.5rem;
}

* {
  font-family: Contenu;
}


body {
  background: url("/img/bg_rev.png") no-repeat, url("/img/bg2.png") repeat;
  font-family: Contenu;
  font-size: 20px;
}

a {
  border-bottom: 1px solid #DDD;
}

#logo {
  display: block;
  width: 100px;
  margin: 0rem 0.4rem 0rem 2rem;
  max-width: 100px;
  vertical-align: -0.5rem;
  display: inline-block;
}

#intro {
  background: rgba(250,250,250,0.7);
  padding-top: 1rem;
}
#intro a:focus, #intro a:hover {
  background-color: rgba(255,255,255,0);
}

section#content {
  min-height: 100%; 
  padding: 1em 2em 4em 2em;
}

section#content h1, h2 {
  color: #777;
}

section#content h1 {
  font-size: 2em;
}

section#content .podcast h5 {
  text-transform: capitalize;
}

.media-object {
  border-bottom: 1px solid rgba(10, 10, 10, 0.25);
  margin-top: 2rem;
}


.thumbnail {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 10%;
  xpadding: 2px 0px 2px 5px;
  padding-left: 2px;
}

.media-object .thumbnail {
  margin-bottom: 0;
  transition: all .4s ease;
}

.media-object img {
  height: 40px;
}

.media-object .thumbnail:hover {
  box-shadow: 
}

aside p, aside #nowPlaying {
  xtext-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(255, 255, 255, .5) -1px 1px, rgba(255, 255, 255, .5) -1px -1px, rgba(255, 255, 255, .5) 1px -1px;
}

aside #nowPlaying {
 margin: 1em 0;
}

aside #nowPlaying p {
 margin-bottom: .3em;
 font-size: 1.2em;
}

aside a.button, a.button:active {
  margin-bottom: 3px;
  color: #000;
}

aside a.button:hover, aside a.button:focus {
  color: #000;
}

aside button {
  padding-bottom: 0.45rem;
}

a.button:focus, a.button:hover {

    background-color: rgba(205,205,205,1);
}
a:focus, a:hover{
  color: #000;
  background-color: rgba(205,205,205,1);
}

a {
  color: #000;
border-bottom: dotted 1px #000;
}

a:focus, a:hover{
  color: #000;
  background-color: rgba(205,205,205,1);
}

aside #search {
 margin-bottom: .5em;
 background-color: #999;
 color: #000;
}

aside #nowPlaying ul {
  list-style-type: none;
  line-height: 1.2;
  font-size: 14px;
  margin-bottom: 1em;
  text-transform: capitalize;
}

aside #nowPlaying ul li {
  margin-left: 10px;
}

ul, ul ul {
  margin-left: 0;
}

h5.pTitle {
  margin-bottom: 0;
}

aside #nowPlaying select {
  margin-bottom: .5em;
}

aside ul#searchResults {
  margin-bottom: 7em;
}

aside .title-bar {
  margin-bottom: 1em;
  background-color: rgba(255,255,255,0.7);
  color: #333;
  text-align: center;
  border: solid 1px;
}

#intro a {
  border: none;
}


option, select {
  text-align: center;
}

#player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  background: rgba(255, 255, 255, .85);
  border-top: #cacaca solid 1px;
  z-index: 100;
}

#player #playPause {
  width: 40px;
  margin: 0 1em;
}

#player * {
  display: inline;
}

#player #title {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 1em;
  text-transform: capitalize;
}

#player #cover {
  width: 50px;
  height: 50px;
}

#player #progress {
  display: block;
  width: 100%;
  height: 15px;
  border: 0;
}

/* Firefox */
progress {
   background: #FFFFFF;
}
progress:not([value])::-moz-progress-bar {
  background-image: url("/img/indeterminate.gif");
}
progress::-moz-progress-bar { 
    background: #DEDEDE;  
}
/* Chrome */
progress::-webkit-progress-bar {
    background: #FFFFFF;
}
progress:not([value])::-webkit-progress-bar {
  background-image: url("/img/indeterminate.gif");
}
progress::-webkit-progress-value {
    background: #DEDEDE;
}

#player #progressText {
  padding-right: .6em;
}

#player #progressRight {
  float: right;
  margin-right: 1em;
}

#player .badge {
  font-size: 0.9rem;
}

#player #playerMenu {
  position: fixed;
  right: 10px;
  bottom: 65px;
  top: unset !important;
  left: unset !important;
  padding: .5rem;
  box-shadow: 4px 4px 6px #CECECE;
}

#player #playerMenu a {
  display: block;
  margin-bottom: 5px;
}

#player #playerButton {
  height: 50px;
  padding: 0 3px;

}

#player #playerButton:hover {
  background: #e4e4e4;
}

#map {
  margin-top: 16px;
  width: 100%;
  border : 1px solid #888; 
  min-height: 300px;
}

#calendar tr, #calendar tr.fc-minor, #calendar thead {  
    background: #fbfbfb;
}

#calendar table {
  margin: 0;
}

.fc-event {
  border: 2px solid #777;
  border-radius: 0;
}

.fc-view {
  min-width: 700px
}

.fc-title {
  text-align: center;
}

.playProg {
  width: 20px;
  display: block;
  margin: 6px;
}

.externalLink {
  display: block;
  margin: 6px;
  color: #000;
  text-align: left;
}

#progress:hover, .podcast .thumbnail:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) { /* adapt player for small screens */
  #player #playPause {
    width: 25px;
  }
  #player #title {
    font-size: 14px;
  }

  #player #cover {
    width: 30px;
    height: 30px;
  }

  #player #progress {
    height: 4px;
  }

  #player #progressText {
    display: none;
  }
  
  #player #playerButton {
    height: 30px;
  }

  section#content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

@media screen and (min-width: 500px) { /* ------------------------------------------------desktop */
  aside {
    margin: 2em;
    xborder: 1px solid #F0F;
    width:17.5em;
  }

  section#content h1 {
    font-size: 3.8em;
  }

}